{
  "extends": "@antfu/eslint-config-ts",
  "overrides": [
    {
        "files": ["src/utils.ts"],
        "rules": {
            "no-console": "off",
            "@typescript-eslint/ban-types": "off"
        }
    },
    {
        "files": ["scripts/**", "src/**"],
        "rules": {
            "n/prefer-global/process": "off"
        }
    }
  ]
}
